.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 30px 180px;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    color: white;


}

.imageAndText img {
    height: 70px;
}

.text {
    background-color: #0280ff;
    min-height: min-content;
    max-width: 530px;
    max-height: max-content;
    border-radius: 5px 5px 0px 5px;
    padding: 10px 10px;
}

.angel {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 15px 0px, rgba(0,0,0,0)15px, rgba(2,128,255, 1)0) ;
}

.name {
    text-align: end;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.messageText {
    text-align: start;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
}

.time {
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
}