.radio {
    accent-color: black;
    width: 15px;
    height: 15px;
}

.span {
    margin-left: 10px;
}

.radio::before {

}


.radio:checked::before {

}

.label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 15px;
}

.options {
    display: flex;
    flex-direction: column;

}
