.App {
    --header_height: 60px;
}


.hw {
    width: auto;
    height: 0px;
    top: 144px;
    border: 1px solid;
    border-color: lightgrey;
}

.hwTitle {
    width: 165px;
    height: 27px;
    left: 700px;
    top: 107px;
    margin-left: 178px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;


    color: #000000;
}