@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
    --header_height: 60px;
}


.hw {
    width: auto;
    border: 1px solid lightgrey ;
    padding-bottom: 50px;
    padding-top: 10px;
}

.hwTitle {
    width: 165px;
    left: 700px;
    top: 107px;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding-top: 50px;
}

/*.hw2 {*/
/*    width: auto;*/
/*    top: 144px;*/
/*    border: 1px solid lightgrey;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*}*/

/*.hwTitle2{*/
/*    height: 27px;*/
/*    margin-left: 178px;*/
/*    margin-top: 50px;*/
/*    font-family: 'Montserrat', sans-serif;*/

/*    color: #000000;*/
/*}*/

